#f{
    background-color: salmon;
    height: 60px;
    margin-top: 40%;
}
@media(max-width:1450px){
    #f{
        margin-top: 55%;
    }
}
@media(max-width:1300px){
    #f{
        margin-top: 70%;
    }
}
@media(max-width:500px){
    #f{
        margin-top: 120%;
    }
}
@media(max-width:400px){
    #f{
        margin-top: 137%;
    }
}
@media(max-width:350px){
    #f{
        margin-top: 157%;
    }
}
