<div class="container">
  <img class="float-end" src="assets/images/statement.webp" alt="" />
  <h1 class="text-center mt-3">Account Statement</h1>
  <h5 class="text-center">{{date | date :'medium'}}</h5>
  <div class="btn-group mt-5" role="group" aria-label="Basic example">
    <button (click)="searchKeyChange('')" type="button" class="btn">All</button>
    <button (click)="searchKeyChange('DEBIT')" type="button" class="btn">Debit</button>
    <button (click)="searchKeyChange('CREDIT')"  type="button" class="btn">Credit</button>
  </div>
  <br />
  <!-- <div class="row w-50 mt-2">
    <div class="col">#</div>
    <div class="col">Type</div>
    <div class="col">Amount</div>
    <div class="col">Account Holder Name</div>
    <div class="col">Date</div>
  </div> -->
  <table class="w-50 mt-2">
    <thead >
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Account Holder Name</th>
      <th scope="col">Date</th>
    </thead>
    <tbody *ngFor="let i of transactions | data :searchKey:'type';let j = index">
      <td >{{j+1}}</td>
      <td >{{i.type}}</td>
      <td >{{i.amount}}</td>
      <td >{{i.user}}</td>
      <td >{{i.date}}</td>
    </tbody>
  </table>
  <button (click)="convertPdf()" class="mt-2">Export As<i class="fa-solid fa-file-pdf"></i></button>
  <button class="but" (click)="home()">Back To Home<i class="fa-solid fa-house-user"></i></button>
</div>
