.btn-group {
  margin-left: 36.5%;
}
img {
    margin-top: 10%;
}
button{
    background-color: salmon;
}
thead{
  background-color: rgb(190, 158, 217);
}
.but{
  margin-top: 2%;
  margin-left: 75%;
}
