<body class="container">
  <h1>Hi,{{data}}</h1>
  <div>
    <img src="assets/images/bank4.jpg" alt="image">
    <form action="" class="float-end">
      <label for="acno">Enter the account number</label><br />
      <input #acno (change)="acnoChange($event)" type="text" id="acno" name="acno" class="w-100" [placeholder]="pdata" /><br />
      <label for="pass">Enter the password</label><br />
      <input #psw (change)="acnoChange($event)" type="password" id="pass" name="pass" class="w-100" />
      <input type="submit" value="login" class="sub" (click)="login(acno,psw)" />
      <p>Doesn't have an account?<a href="">Create account</a></p>
    </form>
  </div>
</body>
