<body class="container">
    <div>
        <form action="" class="float-start">
            <h3 class="text-center">Sign Up</h3>
            <label for="acno">Enter the account number</label><br>
            <input type="text" id="acno" name="acno"><br>
            <label for="usern">Enter the username</label><br>
            <input type="text" id="usern" name="usern"><br>
            <label for="pass">Enter password</label><br>
            <input type="password" id="pass" name="pass"><br>
            <label for="cpass">Confirm password</label><br>
            <input type="password" id="cpass" name="cpass"><br>
            <input (click)="signup()" class="s" type="submit" value="submit">
        </form>
    </div>
</body>
